@using _01_Query.Contract.Product
@model List<ProductQueryModel>

<div class="single-row-slider-area section-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  section title  =======-->
                <div class="section-title-wrapper text-center section-space--half">
                    <h2 class="section-title">Latest Arrivals</h2>
                    <p class="section-subtitle">
                        Mirum est notare quam littera gothica, quam nunc putamus parum
                        claram anteposuerit litterarum formas.
                    </p>
                </div>
                <!--=======  End of section title  =======-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!--=======  single row slider wrapper  =======-->
                <div class="single-row-slider-wrapper">
                    <div class="ht-slick-slider" data-slick-setting='{
                        "slidesToShow": 4,
                        "slidesToScroll": 1,
                        "arrows": true,
                        "autoplay": false,
                        "autoplaySpeed": 5000,
                        "speed": 1000,
                        "infinite": false,
                        "rtl": true,
                        "prevArrow": {"buttonClass": "slick-prev", "iconClass": "ion-chevron-left" },
                        "nextArrow": {"buttonClass": "slick-next", "iconClass": "ion-chevron-right" }
                    }' data-slick-responsive='[
                        {"breakpoint":1501, "settings": {"slidesToShow": 4} },
                        {"breakpoint":1199, "settings": {"slidesToShow": 4, "arrows": false} },
                        {"breakpoint":991, "settings": {"slidesToShow": 3, "arrows": false} },
                        {"breakpoint":767, "settings": {"slidesToShow": 2, "arrows": false} },
                        {"breakpoint":575, "settings": {"slidesToShow": 2, "arrows": false} },
                        {"breakpoint":479, "settings": {"slidesToShow": 1, "arrows": false} }
                    ]'>
                        @foreach (var product in Model)
                        {
                         <div class="col">
                           
                            <div class="single-grid-product">
                                    <div class="single-grid-product__image">
                                        <div class="single-grid-product__label">
                                            @if (product.HasDiscount)
                                            {
                                            <span class="sale">-20%</span>     
                                            <span class="new">جدید</span>
                                            }
                                        </div>
                                        <a href="single-product.html">
                                            <img src="UploadedFiles/@product.Picture" class="img-fluid" alt="@product.PictureAlt">
                                          @*  <img src="~/Theme/assets/img/products/1_1-600x800.jpg" class="img-fluid" alt="">*@
                                        </a>

                                       @* <div class="hover-icons">
                                            <a href="javascript:void(0)"><i class="ion-bag"></i></a>
                                            <a href="javascript:void(0)"><i class="ion-heart"></i></a>
                                            <a href="javascript:void(0)"><i class="ion-android-options"></i></a>
                                            <a href="javascript:void(0)" data-toggle="modal"
                                           data-target="#quick-view-modal-container">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </div>*@
                                    </div>
                                    <div class="single-grid-product__content">
                                        <div class="single-grid-product__category-rating">
                                            <span class="category"><a href="shop-left-sidebar.html">@product.Category</a></span>
                                            <span class="rating">
                                                <i class="ion-android-star active"></i>
                                                <i class="ion-android-star active"></i>
                                                <i class="ion-android-star active"></i>
                                                <i class="ion-android-star active"></i>
                                                <i class="ion-android-star-outline"></i>
                                            </span>
                                        </div>

                                        <h3 class="single-grid-product__title">
                                            <a href="single-product.html">
                                               @product.Name
                                            </a>
                                        </h3>
                                        <p class="single-grid-product__price">
                                            @if (product.HasDiscount)
                                            {
                                                <span class="discounted-price">@product.PriceWithDiscount</span>
                                            }
                                            else
                                            {
                                            <span class="main-price discounted">@product.Price</span>     
                                            }
                                        </p>
                                    </div>
                                </div>
                             
                        </div>

                        }

                    </div>
                </div>
                <!--=======  End of single row slider wrapper  =======-->
            </div>
        </div>
    </div>
</div>
